.homepage-img img{
  width:auto;
  position: absolute;
  z-index:-3;
}

.portfolio-main-section{
  width:calc(100vw - 140px);
  padding-left: 40px;
}

.portfolio-main-content-column .preview-container img{
  width:100%;
  cursor:pointer;
  transition: .75s ease-in-out;
}

.img-on{ 
  position: absolute;
  opacity: 0;
}

.img-off:hover .img-on{ opacity: 1; }
.portfolio-main-section .fullscreen{ width: 100%; left: -40px; }

.portfolio-main-spacer{
  width: 20vw;
  min-width:300px;
  height:100vh;
}

.carousel-nav{
  position:fixed;
  z-index:500;
}

.carousel-nav h4{ margin-bottom:0; }

.carousel-nav svg{
  width:12px;
  height:12px;
  fill: #FFFFFF;
  padding-right: 12px;
}

.carousel-nav a{
  cursor: pointer;
  opacity: .7;
  transition: .2s;
}

.carousel-nav a:hover{ opacity: 1; transition-duration: 1s; }

.carousel-next-btn{
  opacity: 1!important;
  color: rgb(255, 255, 255)
} /*TODO: lol*/


.view-proj-container{ font-family: acier-bat-solid, Helvetica, Arial, sans-serif; }

.view-proj-container h4{
  margin-bottom:0;
  float: left;
}

.view-proj-container svg{
  float: left;
  height:2rem;
  position: relative;
  left:10px;
  top:7px;
  fill:white;
}

.portfolio-main-next-project{
  position: fixed;
  top: 10vh;
  right: 0px;
  cursor:pointer;
}

.portfolio-main-next-project h3{ float: left; }

.portfolio-main-next-project svg{
  fill: #FFF;
  float: left;
  height:2.25rem;
  position: relative;
  left:10px;
  top:8px;
}

.portfolio-main-credit{
  position: fixed;
  right: 0px;
  bottom: 0px;
  background-color:black;
  padding:2px 20px;
}

.portfolio-main-credit span{
  font-size:.8rem;
}

@media (max-width:1200px){
  .portfolio-main-next-project{
    display:none; /*TODO: display none*/
  }
}

@media (min-width:750px){
  .portfolio-main-content-column{ width: 30vw; }
  .portfolio-main-content-column .preview-container{ position: absolute; width: 30vw; }


  .homepage-img{ margin-left: 100px; }

  .homepage-img img{
    left:28vw;
    height:110vh;
  }

  .carousel-nav{
    margin-left:200px;
    bottom:15vh;
  }
  
}

@media (max-width:749px){

  .portfolio-main-section .title{ width:100%!important } /*TODO: Fix !important*/

  .portfolio-main-content-column .preview-container{ 
    position: relative; 
    width: 80vw;
    top: 40px;
  }

  .carousel-nav{
    margin-left:20px;
    bottom:15vh;
  }
  
  .portfolio-main-section{
    height:100vh;
    width:100vw;
    overflow-y: hidden;
  }

  .portfolio-main-content-column{ width: 100%; }
  .portfolio-main-section .title{ position: relative!important; } /*TODO: Fix !important*/
  .portfolio-main-section h1{ hyphens: manual; }

  .homepage-img img{
    left:-20%;
    height:60vh;
  }

  .portfolio-main-next-project,
  .top-anchor,
  .bottom-anchor{
    display:none;
  }
  .portfolio-main-spacer{ display:none;}
  .portfolio-main-credit{ display: none;}

}