/*film grain*/
html::after {
  content:"";
  position: fixed;
  width: 200vw;
  height: 200vh;
  left: -50%;
  top: -50%;
  z-index:-2;
  opacity:0.025;
  background-image: url("../images/bg-film-grain.png");
}

@media (min-width: 750px) {

  body{ }
  /*scanline*/
  body::after {
    content:"";
    position: fixed;
    width:200vw;
    height: 200vh;
    left: -50%;
    top: -50%;
    z-index:-1;
    opacity:.05;
    background-blend-mode:darken;
    background-image: url("../images/scanline.png");
  }

  .outer-grunge{
    content:"";
    background-image: url("../images/outer-crt-effect.png");
    position: fixed;
    width:100vw;
    height: 100vw;
    background-size:contain;
    z-index: 9999;
    opacity:.2;
    left:0px;
    line-height:0;
    pointer-events:none;
  }

  .vignette{
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 10%, rgba(0,0,0,0) 85%, rgba(0,0,0,0.3) 100%);
    position: fixed;
    width: calc(100vw - 100px);
    height: 100vh;
    z-index: 8;
    margin-left: 100px;
    pointer-events:none;
  }
}

/*Universal Elements
-------------------------------------------------*/
.float-me{ float: left; }
.top-anchor{ position: absolute; top: 0px; }
.bottom-anchor{ position: absolute; bottom: 0px; }
.no-list li{ float: left; display: inline block; list-style: none; }

.bottom-anchor svg,
.top-anchor svg{
  position: absolute;
}


.monotype{ font-family: pt-mono, monospace; font-style: normal; }
.scroll-snap{scroll-snap-type: x mandatory;}

.bigtext-bloom{ filter:blur(10px); opacity:0.4!important;} /*TODO: Remove important*/
.bloom{ filter:blur(3px); opacity: .5;}
.diagonal-bloom{ filter:blur(5px); opacity:.5; }

.vertical-page{ overflow-x: hidden;}
.vertical-template{overflow-y: initial!important;}
@media (min-width: 750px) {
  .vert-center{
    top: 50%;
    transform: translateY(-50%);
    position: relative;
  }
  .adjust-vert-0{ margin-top:6vh;}
  .adjust-vert-1{ margin-top:4vh;}
  .adjust-vert-2{ margin-top:2vh;}
  .adjust-vert-3{ margin-top:-2vh;}
  .adjust-vert-4{ margin-top:-4vh;}
  .adjust-vert-5{ margin-top:-6vh;}
  .slideIn{ transform:translateX(150px); transition: 2s; }
  .desktop-hide { display: none; }
  .horizontal-page{ overflow-y: hidden; }
}

@media (max-width: 749px){
  .mobile-hide { display: none; }
  .horizontal-page{ overflow-x: hidden;}
}

/*Scrollbar
-------------------------------------------------*/
body::-webkit-scrollbar {
  height: 1em;
  width: 20px;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255);
  outline: 0px;
  width: 15%;
}
