/* Navigation Sidebar
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#sidebar{
  position: fixed;
  z-index: 9999;
  background-color:#000000;
  background-image: url("../images/bg-film-grain-3opacity.png");
}

#sidebar #name{ position: relative; }
#sidebar #page-title{ position: relative; }
#sidebar svg{ width: 42px; }

#sidebar h3{
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: absolute;
}

#sidebar .title-default{
  font-family: acier-bat-strokes, Helvetica, Arial, sans-serif;
}

#sidebar .title-hover{
  font-family: acier-bat-solid, Helvetica, Arial, sans-serif; /*TODO: normalize font family*/
  transition: all .4s;
  opacity:0.01;
  overflow:hidden;
  height: 0px;
}

#sidebar h3,
#sidebar button{
  display: block;
  font-style: normal;
}

#sidebar h3 a{
  text-decoration: none;
  color: #FFF;
  display: inline-block;
  background:none;
}

#sidebar button{
  font-weight: 800;
  font-size: 1rem; /*TODO: Pull the h3 font sizes up to a new stylesheet*/
  border: 0px;
  background-color: transparent;
  position: relative;
  left: 8px;
}
 
#sidebar button span{
  transition: 0.3s ease-out;
  color:rgb(255, 255, 255, .8)
}

#sidebar button:hover > span{
  background-size: 100% 4px;
  color:rgb(255, 255, 255, 1)
}

/*TODO: Fix this lol*/
.fade-in-anim{
  opacity:1!important;
  height:29px!important;
}

#sidebar .sidebar-nav-border{ position: absolute; }

@media (min-width: 750px) {
  #sidebar{ height: 100vh; width: 160px; }
  #sidebar #sidebar-nav-icon{ height:22vh; position: relative; }
  #sidebar svg { margin-left:86px; }
  #sidebar #name { height: 52vh; }
  #sidebar #page-title { height: 26vh; }

  #sidebar .rotation-wrapper-inner{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #sidebar h3,
  #sidebar button{
    transform-origin: top left;
    transform: rotate(-90deg) translate(-100%) translateX(50%);
    margin-left:88px;
  }

  #sidebar .sidebar-nav-border{
    border-right: 1px solid rgba(255,255,255,.6);
    height: 86vh;
    margin-left: 160px;
    margin-top: 7vh;
  }

}
@media (max-width: 749px) {

  #sidebar{ height: 100px; width: 100vw; }
  #sidebar #sidebar-nav-icon{ width:20vw; float: right; }
  #sidebar #name { width: 50vw; margin-top:2px; margin-left: 5vw; float: left;}
  #sidebar #page-title { display:none;}

  #sidebar .rotation-wrapper-inner { margin-top: 15px;}

  #sidebar .sidebar-nav-border{
    border-bottom: 1px solid rgba(255,255,255,.6);
    width: 76vw;
    margin-top: 80px;
    margin-left:12vw;
  }
}

/* Navigation Toggle SVG
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.sidebar-nav-icon-border{ fill:none;stroke:#FFFFFF;stroke-width:1;stroke-miterlimit:10;stroke-dasharray:3.755,3.755; }
.sidebar-nav-icon-plus{ fill:none;stroke:#FFFFFF;stroke-width:1;stroke-linecap:round;stroke-miterlimit:10; }

.sidebar-nav-icon-line-1,
.sidebar-nav-icon-line-2,
.sidebar-nav-icon-border{
  transform-box: fill-box;
  transform-origin: center;
  display: inline-block;
  transition: 1s ease-in-out;
}

.sidebar-nav-icon-border{
  transition: 5s linear;
  animation-play-state:paused!important;
}

.svg1animation { transform: rotate(45deg); }
/* .svg2animation{ transform: rotate(-9000deg); } */

.svg2animation{
  transform: rotate(-360deg);
  animation-name: infiniteSpin; 
  animation-iteration-count:infinite;
  animation-direction: alternate;
}

@keyframes infiniteSpin{
  0% { transform: rotate(0deg)}
  100% {transform: rotate(-360deg);}
}


/* Navigation Overlay (main nav)
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#navigation{
  position: fixed;
  height: 100vh;
  width: 100vw;
  padding:0; /*doesn't do anything*/
  margin:0; /*doesn't do anything*/
  z-index:9998;
  background-color: rgba(0,0,0,0.95);
  transition:1s;
  visibility:hidden;
  opacity:0;
}

#navigation .container ol{
  list-style-type:none;
  float: left;
  color: #FFFFFF;
}

#navigation .container li a{
  text-decoration:none;
  font-style: normal;
  font-weight: 400;
}

#navigation .container .navigation-main{
  width:100%;
  margin-top: 10vh;
  margin-bottom:calc(50vh - 250px);
}

#navigation .navigation-main-container{
  transition: all .5s ease-in-out;
  opacity: 0;
  transform: translateX(-20%); /*is this good*/
}

/*used via js*/
#navigation .navigation-animation{ transform: translateX(0%); opacity: 100%; }
.navigation-li{ visibility: hidden; pointer-events: none;}
.navigation-li-first{ transition: 0.25s ease-out; transform: translateX(-10%);}
.navigation-li-second{ transition: 0.3s ease-out; transform: translateX(-10%); position: relative; left: -1px;}
.navigation-li-third{ transition: 0.4s ease-out; transform: translateX(-10%);}
.navigation-li-fourth{ transition: 0.5s ease-out; transform: translateX(-10%);}
.navigation-li-fifth{ transition: 0.6s ease-out; transform: translateX(-10%); position: relative; left: -2px;}

.navigation-li-animation{ transform: translateX(0%); visibility:visible; pointer-events:all;}

#navigation .container .navigation-main li{
  margin-bottom:1.75rem;
}

#navigation .container .navigation-main li a{
  font-family: acier-bat-solid, Helvetica, Arial, sans-serif;
  font-size: 4.5rem;
  cursor: pointer;
  position:relative; /*required for it to overlay ::before*/
  z-index:2;
}

#navigation .container .navigation-main li:nth-child(1)::before{ content:"Portfolio"; } /*TODO: Turn this programmatic wtih js*/
#navigation .container .navigation-main li:nth-child(2)::before{ content:"About"; } /*TODO: Turn this programmatic wtih js*/
#navigation .container .navigation-main li:nth-child(3)::before{ content:"Gaming"; } /*TODO: Turn this programmatic wtih js*/
#navigation .container .navigation-main li:nth-child(4)::before{ content:"Blog"; } /*TODO: Turn this programmatic wtih js*/
#navigation .container .navigation-main li:nth-child(5)::before{ content:"Contact"; } /*TODO: Turn this programmatic wtih js*/

.navigation-main a ~ .navigation-arrow{
  height: 40px;
  width: 40px;
  padding-top: 10px; /*TODO: Tweak*/
  margin-left: 0px;
  z-index:1;
  opacity:0;
  position: absolute;
  cursor: pointer;
  fill: #FFF;
  transition: all .5s ease-out;
}

.navigation-main a:hover ~ .navigation-arrow {
  transform: translate(20px);
  opacity:1;
}

.navigation-main a > span{
  transition: margin-left .5s ease-out;
}

.navigation-main a:hover > span{
  margin-left:5px;
}

/*Navigation Underline Effect
-----------------------------------------------*/
.navigation-main a:hover ~ .bold-underline rect{
  width: 100%;
  margin-left:8px;
  transition: width .5s ease;
  transition-delay: 50ms;
}

.bold-underline rect{
  fill:url('#pattern-line-diagonal');
}

/*Navigation floating top-left Effect
-----------------------------------------------*/
#navigation .container .navigation-main li::before{
  font-family: acier-bat-strokes;
  position: absolute;
  margin-top:-7px;
  margin-left:-10px;
  font-weight:100;
  font-size: 4rem;
  opacity: 0.5;
}

/*Navigation Small Links
-----------------------------------------------*/
#navigation .container .navigation-contact li{
  display:inline-block;
  font-size:1.25rem;
  font-weight:400;
}

#navigation .container .navigation-contact .last::before{
  content: " // ";
  margin: 0 9px 0 6px;
  font-size: 0.7rem;
  bottom:.3px;
  position: relative;
}

#navigation .container .navigation-contact a{
  display: inline-block;
  background-image: linear-gradient(rgb(255, 255, 255, .5), #000);
  background-position: 0 100%; /*OR bottom left*/
  background-size: 0% 4px;
  background-repeat: no-repeat;
  transition: background-size 0.4s ease-out; background-position 0s 0.4s;
  background-position-y: 110%;
  font-style:italic;
  color:rgb(255, 255, 255, .8)
}

#navigation .container .navigation-contact a:hover{
  background-size: 100% 4px;
  color:rgb(255, 255, 255, 1)
}

#navigation .container .navigation-rectangles{
  white-space:nowrap;
}

/*Navigation decorative rectangles*/
#navigation .container .navigation-rectangles li{
  display: inline;
}

#navigation .container .navigation-rectangles li svg{
  width: 50px;
  height: 6px;
}

#navigation .container .navigation-rectangles li svg rect{
  width: 35px;
  height: 6px;
  fill:rgb(255,255,255,0.2);
}

/*Navigation diagonal lines*/
.navigation-diagonal-lines{
  fill:url('#pattern-line-diagonal-wide');
}
/*TODO: Make less dumb*/
.navigation-svg-container{
  transition: .5s ease-in-out;
  width:500px;
  height:100vh;
  position: relative;
  opacity: 0;
}

.diagonal-rectangle-navigation{
  opacity:.4;
  width:1200px;
}