/*Portfolio Structure
-------------------------------------------------*/
#portfolio{
  width: max-content;
  overflow-x: visible;
  margin-left: 120px;
  scroll-behavior: smooth;
}

#portfolio section{ float: left; height:100vh; }
#portfolio section:nth-child(n + 3){ padding-left: 5vw; }

#portfolio .portfolio-column{
  float: left;
  height: 100vh;
  padding: 0 6vh 0 6vh;
}

#portfolio .portfolio-column:nth-last-child(1){ padding: 0 0 0 6vh; }

/*Portfolio Title
-------------------------------------------------*/

#portfolio .title{
  margin-top:12vh;
  position: absolute;
  width: 800px;
}

.title .title-num{
  float: left;
  position: relative;
  top:-16px;

}

#portfolio .title svg{
  fill: white;
  height: 65px;
  width: 40px;
  transform:scale(0.9);
  transform-origin: top left;
}

#portfolio .title h1{
  font-family: acier-bat-solid, Helvetica, Arial, sans-serif; /*TODO: normalize font family*/
  font-size:4.5rem;
}

#portfolio .title h1::before{
  content: "Nintendo";
  font-family: acier-bat-strokes;
  position: absolute;
  margin-top:-5vh;
  margin-left:-10px;
  font-weight:100;
  font-size: 7rem;
  opacity: 0.7;
  z-index:-2;
}

/*Portfolio Content
-------------------------------------------------*/
#portfolio .content-container{
  width: 19vw;
  min-width:250px;
  max-width: 320px;
  height: 100vh;
  padding: 0 3vh 0 2vh;
  float: left;
  overflow-x:auto;
}

.content-container .content{ margin-top: 28vh; }
.content-container .content .triangle{ margin-bottom: 5vh; }
.content-container .content .body-copy{ line-height: 1.4; margin-bottom: 4rem;}

.content-container .content .description{
  font-weight: 800;
  line-height: 1.4;
  font-size: 1.3rem;
  margin-bottom: 4rem;
}

.content-container .content .labels{
  display: inline-block;
  font-family: acier-bat-solid, Helvetica, Arial, sans-serif;
  margin-bottom: 6rem;
}

.content-container .content .labels li{
  float: left;
  list-style: none;
  padding: 4px 10px;
  margin-right: 10px;
  margin-bottom: 8px;
  color:black;
  background-color: #FFF;
  font-size: 1.4rem;
  text-rendering: optimizeLegibility;
  letter-spacing:1px;
  filter:drop-shadow(0px 5px 4px rgba(255, 255, 255, .3))
}

/*Portfolio Go Back Module
-------------------------------------------------*/
#go-back{
  bottom: 5vh;
  position: fixed;
  width: 400px;
  z-index:4;
}

#go-back svg{
  width: 33px;
  height:33px;
  fill: #FFF;
  float: left;
  transform: scale(0.6) rotate(180deg);
}

#go-back h5{
  float: left;
  margin-bottom: 0rem;
  line-height: 1.55;
}

#go-back .original{ position: absolute; }

/* #go-back .secondary{
  position: absolute;
  top: 25px;
  transition: 0.5s;
} */

/*TODO: Add rectangle underline effect*/
/* #go-back a:hover ~ .bold-underline rect{
  width: 100%;
  margin-left:8px;
  transition: width .5s ease;
  transition-delay: 50ms;
} */

/*Portfolio Img Structure
-------------------------------------------------*/
.portfolio-column .img-container{
  position: relative;
  z-index:1;
  opacity: 0;
  transition:1.5s;
}

/*TODO: Add max-height, so that the website works properly on wide monitors.*/
/*TODO: Videos do not respect max-height*/
.portfolio-column .vertical{ max-width: 21vw; }
.portfolio-column .horizontal{ max-width: 45vw; max-height: 50vh; }

.portfolio-img{
  z-index:3;
  position: relative;
}

.portfolio-img-dropshadow{
  background: linear-gradient(
    0deg,
  rgba(255,255,255,0) 0%,
  rgba(255,255,255,0.03) 22%,
  rgba(255,255,255,0.04) 100%);
  position: absolute;
  width:100%;
  height:calc(100% + 50px);
  z-index: 0;
}

/*Subtitle Structure
-------------------------------------------------*/

.subtitle{
  position: absolute;
  display: flex;
  width:100%;
  top: -25px;
  z-index:2;
}

.subtitle span{
  font-size: 1rem;
  font-weight: 400;
  white-space: nowrap;
}

.subtitle svg{
  display: block;
  float: left;
  height: 10px;
  flex-grow: 1;
  margin-left: 20px;
}

.subtitle svg rect{
  height: 100%;
  width: 100%;
  fill: url('#pattern-line-diagonal');
  opacity: .8;
}

.video-subtitle{
  float: right;
  font-size:1rem;
  padding-top:10px;
}

/*Fullscreen Structure
-------------------------------------------------*/
.fullscreen{
  position: relative;
  padding: 0px;
  float: left;
  height:100vh;
}

.fullscreen-column{ float: left; position: relative; }

.fullscreen-column img{
  height: auto;
  width: 18vw; /*TODO: Make this work on vertical windows*/
  max-width: 320px;
  min-width:150px;
  padding: 2.5vh 2.5vh 0px 0px;
}

/*Arrow Wall, Next Page
-------------------------------------------------*/
.arrow-wall li{
  list-style:none;
  height:9.4vh;
  line-height:0;
}

.arrow-wall li span{ font-family: acier-bat-solid, Helvetica, Arial, sans-serif; }
.arrow-wall-decoration{ font-size: 10vh; }
.arrow-wall-content{ font-size: 4vh; }

.arrow-wall-container{ position: relative;}
.gradient-fade{
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 96%, rgba(0,0,0,1) 100%);
  height:100vh;
  width: 300px;
  position: absolute;
  z-index:9999;
  right: 0px;
}

/*Video custom overrides
-------------------------------------------------*/
.vjs-volume-panel,
.vjs-play-control,
.vjs-remaining-time,
.vjs-picture-in-picture-control{
  display:none!important; /*TODO: Remove from installed videojs*/
}

/*TODO: ew, fix this please*/
.vjs-control-bar{ opacity:1!important; }
.vjs-progress-control{ opacity:0; }

/*Parallax Structures
-------------------------------------------------*/
.parallax-obj{
  opacity:0;
  transition:1s;
  z-index: -2;
}

.portfolio-misctext{ left: 5vh; } /*TODO: Make this align more on smaller window heights*/

.portfolio-misctext span{
  font-family: acier-bat-strokes;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  letter-spacing:10px;
}

.end-diagonal-horizontal,
.end-diagonal-vertical{
  position:absolute;
}
.end-diagonal-horizontal{ left: -29vw; }
.end-diagonal-vertical{ left: -35vw; }
.end-diagonal-horizontal svg,
.end-diagonal-vertical svg{
  height: 100vh;
  width: 1000px;
  position:absolute;
  opacity:.8;
}

/*One-off Text Adjustments
-------------------------------------------------*/
.find-your-way-to-play span{
  font-size:11vh;
  line-height:9.5vh;
  opacity: .8;
}

.labo span{
  font-size:30vh;
  line-height:9.5vh;
}

.pikachu span{
  position: relative;
  left: -13vw;
  font-size: 26vh;
  line-height:13vh;
  opacity: 0.9;
}

.eevee span{
  position: relative;
  font-size: 26vh;
  line-height:13vh;
  opacity: 0.9;
}