/*Portfolio Structure
-------------------------------------------------*/
.portfolio-column{
  float: left;
  height: 100vh;
  padding: 0 60px 0 60px;
}

.portfolio-column:first-child{
  padding-left:30px;
}

.portfolio{
  width: max-content;
  overflow-x: visible;
  margin-left: 100px;
}

/*Portfolio Content Column
-------------------------------------------------*/
.portfolio-content-container{
  width: 19vw;
  min-width:250px;
  max-width: 320px;
  height: 100vh;
  float: left;
  overflow-x:auto;
  line-height: 1.5;
}

/*Portfolio Title
-------------------------------------------------*/

.portfolio-title{
  margin-top:12vh;
  position: absolute;
  width: 800px;
}

.portfolio-number{
  float: left;
  font-family: acier-bat-outline, Helvetica, Arial, sans-serif; /*TODO: normalize font family*/
  font-size: 4rem;
  margin-top: -12px; /*TODO: no negative margin*/
}

.portfolio-number svg{
  fill: white;
  position: relative;
  height: 55px;
  width: 30px;
  padding-right: 15px;
}

.portfolio-title h1{
  font-family: acier-bat-solid, Helvetica, Arial, sans-serif; /*TODO: normalize font family*/
  font-size:4.5rem;
}

.portfolio-title h1::before{
  content: "Nintendo";
  font-family: acier-bat-strokes;
  position: absolute;
  margin-top:-5vh;
  margin-left:-10px;
  font-weight:100;
  font-size: 7rem;
  opacity: 0.5;
}

/*Portfolio Content
-------------------------------------------------*/

.portfolio-content{
  margin-top: 28vh;
}

.portfolio-content .triangle{
  margin-bottom: 5vh;
}

.portfolio-content-body{
  line-height: 1.4;
  margin-bottom: 4rem;
}

.portfolio-content-description{
  font-family: pt-mono, monospace;
  font-weight: 800;
  font-style: normal;
  line-height: 1.4;
  font-size: 1.3rem;
  margin-bottom: 4rem;
}

.portfolio-content-labels{
  display: inline-block;
  font-family: acier-bat-solid, Helvetica, Arial, sans-serif; /*TODO: normalize font family*/
  margin-bottom: 6rem;
}

.portfolio-content-labels li{
  float: left;
  list-style: none;
  padding: 0px 10px;
  margin-right: 10px;
  margin-bottom: 8px;
  color:black;
  background-color: #FFF;
  font-size: 1.4rem;
  text-rendering: optimizeLegibility;
  letter-spacing:2;
}


/*Quick Nav
-------------------------------------------------*/
.quick-nav-title{
  font-family: acier-bat-solid, Helvetica, Arial, sans-serif; /*TODO: normalize font family*/
  letter-spacing: .5px;
  font-size: 1.5rem;
  margin-bottom:15px;
  padding-bottom:0;
  line-height:0;
}

.quick-nav-rect{
  margin-bottom: 2px;
}

.quick-nav-rect li{
  display: inline-block;
  list-style-type: none;
}

.quick-nav-rect li:not(:last-child){
  padding-right:12px;
}

.quick-nav-rect svg{
  margin-bottom: 0;
  height: 12px;
  width: 12px;
  float: left;
  fill:rgb(255, 255,255,0.6);
  transition: 0.25s;
}
`
.quick-nav-rect svg:hover{
  fill: rgb(255,255,255,1);
}

.quick-nav-descriptor{
  font-family: pt-mono, monospace;
  font-size: 1.1rem;
  font-weight: 800;
  letter-spacing: 0.5px;
}

/*Portfolio Go Back Module
-------------------------------------------------*/
.portfolio-goback{
  bottom: 5vh;
  position: fixed;
  width: 400px;
}

.portfolio-goback .portfolio-goback-arrow{
  width: 33px;
  height:33px;
  fill: #FFF;
  float: left;
  margin-top: -7px;
  margin-left: -15px;
  margin-right: 8px;
}

.portfolio-goback-h5text{
  float: left;
}

.portfolio-goback h5{
  margin-bottom: 0rem;
  line-height: 1.55;
}

.portfolio-goback .original{
  position: absolute;
}
.portfolio-goback .secondary{
  position: absolute;
  top: 25px;
  transition: 0.5s;
}

/*TODO: Add rectangle underline effect*/
.portfolio-goback a:hover ~ .bold-underline rect{
  width: 100%;
  margin-left:8px;
  transition: width .5s ease;
  transition-delay: 50ms;
}



/*Portfolio Img Structure
-------------------------------------------------*/
.portfolio-section{
  float: left;
  height:100vh; /*TODO: dangerous?*/
}

.portfolio-section::after{
  border-right: 1px solid white;
  position: absolute;
  height:1500px;
  top: -200px;
  width: 20px;
  content:""; /*TODO: lol*/
  transform:rotate(-35deg);
  z-index:0;
}

.portfolio-img-container{
  /* position: relative;
  height: 100%; */
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  z-index:1;
}

/*TODO: Prevent squashing/squishing while keeping min max height width*/
.portfolio-img-container .vertical{
  max-width: 30vw;
  max-height: 70vh;
  min-width: 200px;
}

/*TODO: Make this programatically or randomly apply?*/
.horizontal-adjust-1{ margin-top:5vh;}
.horizontal-adjust-2{ margin-top:2vh;}
.horizontal-adjust-3{ margin-top:-2vh;}
.horizontal-adjust-4{margin-top:-4vh;}

.portfolio-img-container .horizontal{
  max-width: 40vw;
  min-width: 300px;
  max-height: 50vh;
}

.portfolio-img{
  z-index:3;
  position: relative;
}

.portfolio-img-square{
  background-color: rgba(255, 255, 255, 0);
  z-index:1;
  position: absolute;
  top: 0px;
  transition: 2s;
}

.subtitle{
  position: absolute;
  top: -25px;
  display: flex;
  width:100%;
  z-index:3;
}

.descriptive-text span{
  font-family: pt-mono, monospace;
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  white-space: nowrap;
}

.subtitle svg{
  height: 10px;
  display: block;
  float: left;
  flex-grow: 1;
  margin-left: 20px;
}

.subtitle svg rect{
  height: 100%;
  width: 100%;
  fill: url('#pattern-line-three');
  opacity: 1;
}

.video-subtitle{
  float: right;
}

.portfolio-miscelement-container{
  position: relative;
  padding: 0; /*TODO: Padding on portfolio-column should be split into a separate class, or ::first diagonal line restructure*/
}

.portfolio-miscelement-container span{
  font-family: acier-bat-strokes;
  font-size:30vh;
  line-height:30vh;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  opacity: 0.3;
  position: absolute;
  font-size:9vh;
  line-height:10vh;
  opacity: 0.5;
}

.portfolio-miscelement-obj{
  z-index:0;
}

.portfolio-parallax{
  transform: translateX(var(--translateX));
  will-change: transform; /*TODO: Add will-change to all animated elements*/
}

.portfolio-misctext-topanchor{
  position: absolute;
  top:0px;
}

.portfolio-misctext-bottomanchor{
  position: absolute;
  bottom:25vh;
}


/*End Next Project
-------------------------------------------------*/
.portfolio-next-project{
  background-color: purple;
  position: relative;
  height: 100vh;
  width: 600px;
  right: 0px;
}

.portfolio-next-project svg{
  height: 10vh;
  fill: #FFF;
  float: right;
}

.portfolio-next-project-text h5{
  font-size: 8vh;
  float: left;
  background-color: black;
  padding:0;
  position: relative;
  top: 4vh;
  line-height:0;
}

/*Scrollbar
-------------------------------------------------*/
/*TODO: Move to standard*/
body::-webkit-scrollbar {
  height: 1em;
  width: 20px;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255);
  outline: 0px;
  width: 15%;
}

/*TODO: Change to detect if any piece is off-screen, it deletes itself*/
  .quick-nav{
    display:none;
    visibility:hidden;
  }